body, div, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    background-color: #127701;
}
/*celular*/
@media only screen and (max-width: 400px){
.imagem {
    display: inline-flex;
        margin-top: 20%;
        border: none;
        margin-left: 33%;
        margin-right: 33%;
}

.imagem img {
        justify-content: center;
}

.caixadtexto {
    display: inline-flex;
    margin-top: 15%;
    background-color: #fff;
    padding: 10px;
    width: 450px;
    height: 250px;
    padding: 5%;
    margin-left: 35%;
    margin-right: 33%;
    text-align: center;
}

.senha{
    color: white;
    display: inline-flex;
    background-color: #BF0404;
    border-radius: 100px;
    width: 100px;
    height: 50px;
    border: none;
    justify-content: center;
    justify-items: flex-end;
}

.confirmar{
    color: white;
    display: inline-flex;
    background-color: #BF0404;
    border-radius: 100px;
    width: 100px;
    height: 50px;
    border: none;
    justify-content: center;
    justify-items: center;
}

}